#Problem Statement
Your client is a meal delivery company which operates in multiple cities. 
They have various fulfillment centers in these cities for dispatching meal orders to their customers. 
The client wants you to help these centers with demand forecasting for upcoming weeks so that these centers will plan the stock of raw materials accordingly.
The replenishment of majority of raw materials is done on weekly basis and since the raw material is perishable, 
the procurement planning is of utmost importance. Secondly, staffing of the centers is also one area wherein accurate demand forecasts are really helpful. Given the following information, the task is to predict the demand for the next 10 weeks (Weeks: 146-155) for the center-meal combinations in the test set:  

Historical data of demand for a product-center combination (Weeks: 1 to 145)
Product(Meal) features such as category, sub-category, current price and discount
Information for fulfillment center like center area, city information etc.

In [1]:
#Check the current working Diectory:
import os
os.getcwd()

'C:\\Users\\vikas\\Downloads\\Python File\\Hackathon\\Food Demand Forecasting Challenge'

In [15]:
from datetime import date
today = date.today()
print("Today's date:", today)

Today's date: 2024-03-22

In [2]:
#Load the required libraries:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Matplotlib is building the font cache; this may take a moment.

In [3]:
#Set the working directory where datasets are loacted:
os.chdir("C:\\Users\\vikas\Downloads\\Python File\\Hackathon\\Food Demand Forecasting Challenge\\train_GzS76OK (1)")

In [5]:
#First Load all three training datasets:
train_data = pd.read_csv("train.csv")
meal_train = pd.read_csv("meal_info.csv")
fulfilment_center = pd.read_csv("fulfilment_center_info.csv")

In [6]:
#Start the Exploratory Data Analysis(EDA):
#Firstly explore train_data
#Check the header for train data:
train_data.head()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
0,1379560,1,55,1885,136.83,152.29,0,0,177
1,1466964,1,55,1993,136.83,135.83,0,0,270
2,1346989,1,55,2539,134.86,135.86,0,0,189
3,1338232,1,55,2139,339.50,437.53,0,0,54
4,1448490,1,55,2631,243.50,242.50,0,0,40

In [7]:
#Check the tail for train data:
train_data.tail()

,id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured,num_orders
456543,1271326,145,61,1543,484.09,484.09,0,0,68
456544,1062036,145,61,2304,482.09,482.09,0,0,42
456545,1110849,145,61,2664,237.68,321.07,0,0,501
456546,1147725,145,61,2569,243.50,313.34,0,0,729
456547,1361984,145,61,2490,292.03,290.03,0,0,162

In [8]:
#Check the dimension for the train data:
print("Dimension for the train_data:",train_data.shape)

Dimension for the train_data: (456548, 9)

In [9]:
#Check the Column Names:
print(train_data.columns)

Index(['id', 'week', 'center_id', 'meal_id', 'checkout_price', 'base_price',
       'emailer_for_promotion', 'homepage_featured', 'num_orders'],
      dtype='object')

In [12]:
#Check the attribute types of train_data:
print("Attributes information about train_data:")
print(train_data.dtypes)

Attributes information about train_data:
id                         int64
week                       int64
center_id                  int64
meal_id                    int64
checkout_price           float64
base_price               float64
emailer_for_promotion      int64
homepage_featured          int64
num_orders                 int64
dtype: object

In [10]:
#Check the header for meal_train data:
meal_train.head()

   meal_id   category cuisine
0     1885  Beverages    Thai
1     1993  Beverages    Thai
2     2539  Beverages    Thai
3     1248  Beverages  Indian
4     2631  Beverages  Indian

In [17]:
#Check the tail for meal_train data:
meal_train.tail()

    meal_id category      cuisine
46     2956     Fish  Continental
47     2104     Fish  Continental
48     2444  Seafood  Continental
49     2867  Seafood  Continental
50     1445  Seafood  Continental

In [29]:
#Check the dimension for the meal_train data:
print("Dimension for the train_data:",meal_train.shape)

Dimension for the train_data: (51, 3)

In [27]:
#Check the attribute types of meal_train:
print("Attributes information about meal_train:")
print(meal_train.dtypes)

Attributes information about meal_train:
meal_id      int64
category    object
cuisine     object
dtype: object

In [22]:
#Check the Column Names:
print(meal_train.columns)

Index(['meal_id', 'category', 'cuisine'], dtype='object')

In [24]:
#Check the header for fulfilment_center:
fulfilment_center.head()

   center_id  city_code  region_code center_type  op_area
0         11        679           56      TYPE_A      3.7
1         13        590           56      TYPE_B      6.7
2        124        590           56      TYPE_C      4.0
3         66        648           34      TYPE_A      4.1
4         94        632           34      TYPE_C      3.6

In [25]:
#Check the header for fulfilment_center:
fulfilment_center.tail()

    center_id  city_code  region_code center_type  op_area
72         53        590           56      TYPE_A      3.8
73         30        604           56      TYPE_A      3.5
74         76        614           85      TYPE_A      3.0
75         68        676           34      TYPE_B      4.1
76         51        638           56      TYPE_A      7.0

In [33]:
#Check the dimension for the fulfilment_center_train data:
print("Dimension for the fulfilment_center_data:",fulfilment_center.shape)

Dimension for the fulfilment_center_data: (77, 5)

In [34]:
#Check the Column Names:
print(fulfilment_center.columns)

Index(['center_id', 'city_code', 'region_code', 'center_type', 'op_area'], dtype='object')

In [35]:
#Check the attribute types of meal_train:
print("Attributes information about fulfilment_center:")
print(fulfilment_center.dtypes)

Attributes information about fulfilment_center:
center_id        int64
city_code        int64
region_code      int64
center_type     object
op_area        float64
dtype: object